@import "../../styles/mixins";

// 디스플레이 숨기기
.noneDisplay{
  display: none;
}

.container {
  width: 500px;
  height: 100%;
  padding: 30px 10px;
  margin: 0 auto;

  div{
   @include flex-center;
    padding: 5px 10px;
  }
}

.mapItem{
  @include flex-column-center;

  button{
  margin: 5px 0 0 5px;
  }
}
